.fundo {
    position: absolute;
    top: 5vw;
    left:5vw;
    width: 90vw;
    height: 40vw;
    
    border: 10px solid transparent;
    padding: 5px;
    border-image: url(..img/glitter.jpg) 30 round;
    text-align: center;
   }
   #game{
   position:absolute;
    top: 5vw;
    left:5vw;
    width:90vw;
    height:40vh;
    padding: 5px;
   }
   #div2 {
   position: absolute; 
   top: 5vw; 
   left: 5vw; 
   width: 75px; 
   height: 70px; 
   background-color: green; 
   text-align: center;
}
#div1 {
   position: absolute;
   width: 75px;
   height: 70px;
   top: 15vw;
   left: 15vw; 
   width: 5vw; 
   height: 5vw; 
   text-align: center;
}
